<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Check your luck!</title>
        <style>
        .fig {
                text-align: center;
             }
        </style>
    </head>

    <body>
        <form method="GET">
            <p class="fig"><img    th:if="${gifUrl} != null"
                    th:src="${gifUrl}"/>
            <br/>
                <big><a th:href="@{/}">New GIF?</a></big>
        </form>
    </body>
</html>
